# Ignore changes to original files
/OG_calibration/*
/OG_lammps/*

#ignore build files for refac
/refac_calibration/build*
/refac_lammps/build*

#ignore installed files for refac
/refac_calibration/install*
/refac_lammps/install*

#ignore MATAR submodule
/refac_calibration/MATAR/*